<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <f:metadata>
            <f:viewParam name="guest" value="#{welcomePageBean.welcomeUserName}" maxlength="25" required="#{!facesContext.postback}" requiredMessage="Please enter guest"/>
        </f:metadata>
        <h:form>
            <h:panelGrid columns="2">
                <h:outputLabel for="inputTextBox" value="Enter a name here" />
                <h:inputText value="#{welcomePageBean.welcomeUserName}" id="inputTextBox"/>
                <h:commandButton value="Say Hello" action="#{welcomePageBean.sayHello}"/>
                <h:outputText value="#{welcomePageBean.completedGreeting}"/>
                <h:commandButton value="Navigate!" action="#{welcomePageBean.navigateToFlashPage}"/>
             </h:panelGrid>
        </h:form>
    </h:body>
</html>

