<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      >
    <h:head>
        <title>FlashScope demo</title>
    </h:head>
    <h:body>
        <h:panelGrid columns="2">
            <h:outputLabel value="From the FlashScope: "/>
            <h:outputText value="#{flash.tV}"/>
        </h:panelGrid>
    </h:body>
</html>
